{% extends "base.html" %}
{% load static %}

{% block cuerpo %}
  <div class="row"><!--la fila-->

    <div class= "col-sm-12 col-md-4 col-lg-4 xl-4"><!--Columna izquierda-->
      <h1>registrar </h1>
      <div class="card"><!--La tarjeta-->
        <div class="card-body">
          <form action="registrarVenta/" method="POST">{% csrf_token %}<!--Falta action-->
            <div class="form-group">
              <input type="text" id="txtid_venta" name="txtid_venta" class="form-control"
              placeholder="id Venta" minlength="1" maxLenght="6" required><br>
            </div>
            <div>
              <input type="text" id="txtcliente" name="txtcliente" class="form-control"
              placeholder="id cliente" minlength="1" maxLenght="6" required><br>
            </div>
            <div>
              <input type="date" id="txtfecha_venta" name="txtfecha_venta" class="form-control"
              placeholder="fecha de venta" minlength="1" maxLenght="6" required><br>
            </div>            <div>
              <input type="text" id="txttotal" name="txttotal" class="form-control"
              placeholder="total de venta" minlength="1" maxLenght="6" required><br>
            </div>
            <div>
              <input type="text" id="txtempleado" name="txtempleado" class="form-control"
              placeholder="id empleado" minlength="1" maxLenght="6" required><br>
            </div>
            <div>
              <input type="text" id="txtestatus" name="txtestatus" class="form-control"
              placeholder="cant_productos" minlength="1" maxLenght="6" required><br>
            </div>
            <div>
              <input type="text" id="txtid_producto" name="txtid_producto" class="form-control"
              placeholder="id producto" minlength="1" maxLenght="6" required><br>
            </div>
            <div class="form-group py-3">
              <button type="submit" class="btn btn-primary">Guardar Venta</button>
            </div>
          </form>
        </div>
      </div><!--La tarjeta-->
    </div><!--Columna izquierda-->


  <div class="col-sm-12 col-md-8 col-lg-8 xl-8"><!--Columna derecha-->
    <h1>Listado de Ventas</h1>
    <img class="w-50" src="{% static 'img/venta.webp' %} " alt="pao" width="100" height="200">
    <!--La tabla-->
    <table class="table table-striped">                            
      <thead>
        <tr>
          <th scope="col">id_venta</th>
          <th scope="col">id_cliente</th>
          <th scope="col">fecha de venta</th>
          <th scope="col">total de venta</th>
          <th scope="col">id empleado</th>
          <th scope="col">cant_productos</th>
          <th scope="col">id producto</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for m in misventas %}
          <tr>
            <td>{{m.id_venta}}</td>
            <td>{{m.id_cliente}}</td>
            <td>{{m.fecha_venta | date:'y-m-d'}}</td>
            <td>{{m.total_venta}}</td>
            <td>{{m.id_empleado}}</td>
            <td>{{m.cant_productos}}</td>
            <td>{{m.id_producto}}</td>

            <td> <a href="seleccionarVenta/{{m.id_venta}}" class="btn btn-info">Editar</a></td><!--falta-->
            <td> <a href="borrarVenta/{{m.id_venta}}" class="btn btn-danger">Borrar</a></td><!--falta-->
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <!--La tabla-->
  </div><!--Columna derecha-->
</div><!--la fila-->
{% endblock %}