{% extends "base.html" %}

{% block cuerpo %}
<div class="row"><!-- fila en editar -->
    <div class="col-md-4 offset-md-4">
        <h2>Editar producto</h2>
        <!-- Aqui codigo tarjeta -->
        <div class="card"><!--La tarjeta-->
            <div class="card-body">
                <form action="/editarProducto/" method="POST">{% csrf_token %}<!--Falta action-->
                    <div class="form-group">
                        <input type="text" id="txtid_producto" name="txtid_producto" class="form-control"
                        placeholder="id producto" value="{{misproductos.id_producto}}" minlength="1" maxlength="" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                        placeholder="nombre del producto" value="{{misproductos.nombre_producto}}" minlength="1" maxlength="" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtprecio" name="txtprecio" class="form-control"
                        placeholder="precio del producto" value="{{misproductos.precio_producto}}" minlength="1" maxlength="" required><br>
                    </div>           
                        <input type="date" id="txtfecha" name="txtfecha" class="form-control"
                        placeholder="fecha de ingreso" value="{{misproductos.fecha_ingreso |date:'Y-m-d'}}" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtdescripcion" name="txtdescripcion" class="form-control"
                        placeholder="descripcion" value="{{misproductos.descripcion_producto}}" minlength="1" maxlength="" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtstock" name="txtstock" class="form-control"
                        placeholder="no productos en stock" value="{{misproductos.stock}}" minlength="1" maxlength="" required><br>
                    </div>
                    <input type="text" id="txtproveedor" name="txtproveedor" class="form-control"
                    placeholder="id proveedor" value="{{misproductos.id_proveedor}}" minlength="1" maxlength="" required><br>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar producto</button>
                    </div>
                </form>
            </div>
        </div><!--La tarjeta-->
        <!-- Aqui codigo tarjeta -->
    </div>
</div><!-- fila en editar -->




{% endblock %}