{% extends "base.html" %}

{% block cuerpo %}
<div class="row"><!-- fila en editar -->
    <div class="col-md-4 offset-md-4">
        <h2>editar categoria</h2>
        <!-- Aqui codigo tarjeta -->
        <div class="card"><!--La tarjeta-->
            <div class="card-body">
                <form action="/editarCat/" method="POST">{% csrf_token %}<!--Falta action-->
                    <div class="form-group">
                        <input type="text" id="txtid_categoria" name="txtid_categoria" class="form-control"
                        placeholder="id categoria " value="{{miscategorias.id_categoria}}" minlength="1" maxLenght="6" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                        placeholder="nombre de categoria" value="{{miscategorias.nombre_categoria}}" minlength="1" maxLenght="6" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtdescripcion" name="txtdescripcion" class="form-control"
                        placeholder="descripcion" value="{{miscategorias.descripcion_categoria}}" minlength="1" maxLenght="6" required><br>
                      </div>
                      <div>
                        <input type="text" id="txtactivo" name="txtactivo" class="form-control"
                        placeholder="activo" value="{{miscategorias.activo}}" minlength="1" maxLenght="6" required><br>
                      </div>
                     
                      <div>
                        <input type="text" id="txtid_padre" name="txtid_padre" class="form-control"
                        placeholder="id_producto" value="{{miscategorias.id_producto}}" minlength="1" maxLenght="6" required><br>
                      </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar categoria</button>
                    </div>
                </form>
            </div>
        </div><!--La tarjeta-->
        <!-- Aqui codigo tarjeta -->
    </div>
</div><!-- fila en editar -->




{% endblock %}